<h2>{{oPerson.name}}</h2>
<div class="row" ng-show="loading">
    <div class="col-md-12 text-center">
        <i class="fa fa-spinner fa-pulse fa-4x"></i>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        {{oPerson.biography|| 'Biografy not availabe'}}
    </div>
    <div class="col-md-4">
        <img class="detail img-thumbnail" ng-if="oPerson.profile_path" data-ng-src="http://image.tmdb.org/t/p/w300/{{oPerson.profile_path}}">
        <img class="detail img-thumbnail" ng-if="!oPerson.profile_path" data-ng-src="http://placehold.it/300x450&text=not available">
    </div>
</div>

<div>
    <h3>Movies  <span class="badge">{{aoMovies.length}}</span> </h3>
    <input id="input_search_Movie" type="text" ng-model="sSearchMovie" placeholder="What movie are you looking for?" class="form-control" ng-keyup="fnSearchMovie()">

    <span ng-if="aoMovies.length === 0"> Movie credits not available</span>
    <div class="panel panel-primary animate" ng-repeat="oMovie in aoMovies">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <a ng-href="#movie/{{oMovie.id}}" >
                      <img class="img-thumbnail" ng-if="oMovie.poster_path" data-ng-src="http://image.tmdb.org/t/p/w45/{{oMovie.poster_path}}">
                      <img class="img-thumbnail" ng-if="!oMovie.poster_path" data-ng-src="http://placehold.it/45x68&text=tmdb">
                    </a>
                </div>
                <div class="col-md-10">
                    <h3><a ng-href="#movie/{{oMovie.id}}" >{{oMovie.title}}</a></h3>
                    <p>Release Date : {{oMovie.release_date || 'Not available'}}</p>
                    <p>Character : {{oMovie.character}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
