<h2>{{oTv.name}}</h2>
<div class="row" ng-show="loading">
  <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-pulse fa-4x"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
      {{oTv.overview|| 'Overview not availabe'}}
  </div>
  <div class="col-md-4">
      <img class="detail img-thumbnail" ng-if="oTv.poster_path" data-ng-src="http://image.tmdb.org/t/p/w300/{{oTv.poster_path}}">
      <img class="detail img-thumbnail" ng-if="!oTv.poster_path" data-ng-src="http://placehold.it/300x450&text=not available">
  </div>
</div>

<div>
  <h3>Credits <span class="badge">{{aoCredits.length}}</span> </h3>
  <!-- <input id="input_search_Movie" type="text" ng-model="sSearchMovie" placeholder="Who are you looking for?" class="form-control" ng-keyup="fnSearchMovie()"> -->

  <span ng-if="aoCredits.length === 0"> Movie cast not available</span>
  <div class="panel panel-primary animate" ng-repeat="oCredit in aoCredits">
      <div class="panel-body">
          <div class="row">
              <div class="col-md-2">
                  <img class="img-thumbnail" ng-if="oCredit.profile_path" data-ng-src="http://image.tmdb.org/t/p/w45/{{oCredit.profile_path}}">
                  <img class="img-thumbnail" ng-if="!oCredit.profile_path" data-ng-src="http://placehold.it/45x68&text=tmdb">
              </div>
              <div class="col-md-10">
                  <h3><a ng-href="#detail/{{oCredit.id}}">{{oCredit.name}}</a></h3>
                  <p>{{oCredit.character || oCredit.job}}</p>
              </div>
          </div>

      </div>
  </div>
</div>
